html {
    background-color: #1a1a21 !important;
    margin: 2em;
    font-size: 100%;
}
h1{
    font-size: 50px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #e7e6f0
}

h1.gradient{
    background: -webkit-linear-gradient(302deg, #a239d3 3%, rgba(180, 72, 215, 1) 16%, #c557db 29%, rgba(241,72,202,1) 48%, #ce4396 74%, #df76cb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6c5d4;
}

footer p{
    color: #8b8b94 !important;
    text-align: center;
}

p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #b9b9c4;
    line-height: 1.5;
}

iframe{
    border: 0;
}

body{
    justify-content: center;
    place-content: center;
    align-items: center;
}

div{
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-left: 150px;
    margin-right: 150px;
}

.center {
    text-align: center;
    justify-content: center;
    width: 50%;

}

a {
    color: #9357DB;
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    transition:color .2s ease-out, background 2s ease-in;
  }
  a:hover { color:#bb418a; background: #353238; }


section {
    margin: 2rem;
}

.scalesvg{
    width: 80%;
}

::selection {
    color: #edeef0;
    background: rgb(176, 53, 141);
  }

/* 


html, body {
  height: 100%;
  width: 100%;
}


html {
  scroll-behavior: smooth;
 }

body {
/*   background-color: #00ffe1; */
/*   font-family: "Aldrich"; */
/*   font-family: Roboto; */
/*     font-family: Sans Serif; */
  font-family: Ubuntu;

  
/*   background-image: url('Djokovic.jpeg') linear-gradient(red, yellow); */

  background-repeat: no-repeat;


/*   background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.bolded { font-weight: bold; }

.one{
  background-color: #dedede;
}

.two{
  background-color: #FFFDE7;
}

.three{
  background-color: white;
}

.four{
  background-color: #8EC5FC;
}

.five{
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.container{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url('bass.jpeg') ;
  background-attachment: fixed;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  text-shadow: 2px 2px 4px #000000;
  font: bold 5vw Sans-Serif;
  
}

.paragra {
  font-size: 4vw;
}
/* x-shadow: 2px 2px 20px 23px #7fecad;
    } */

p.center {
 text-align: center
/*   margin-inline-start: 4px;
  margin-inline-end: 4px; */
}

p.al{
  text-align:left;
  font-size: 1.5vw;
}

p.boldcenter{
  text-align:center;
  font-weight: bold;
  color: white;
  font: bold 3vw Aldrich;
}

/* p.boldcenter{
  text-align:center;
  font-weight: bold;
  color: white;
  font: bold 5vw Aldrich;
} */

h1.boldcenter{
  text-align:center;
  font-weight: bold;
  color: black;
  font: bold 2vw Aldrich;
}

/* The best spacer ever invented */
hr.space-1 {
  background: transparent;
  color: transparent;
  margin: 0;
  border-style: none;
  height: 1vw;
}




.blue{
/*   background-color: #3a4e9e;  */
/*   background-color: #815288; */
  /* background-color: #4adede; */

  background-color: #3a4e9e;
}

.greeny{
/*   background-color: #3a4e9e;  */
/*   background-color: #815288; */
  background-color: #cefa05;
}

p.right {
  text-align: right;
}


    section{
    display: flex;
  flex-direction: row;
}
	  .rounddiv
		{
      margin: auto;
		float: left;
      padding : 0%;
		color: black;
/* 		background-color: 009900; */
      background-color: white;
		width: 30%;
		border: solid black;
      font: 1.6vw Sans-Serif MS;

/*       box-shadow: 10px 10px; */
      
      
/*       background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
/*             background-color: #bd9fd1;
background-image: linear-gradient(62deg, #ff5558 0%, #ffb381 100%); */

      

        border-radius: 15px;

		}
/* 		.middlediv
		{
      margin: auto;
		float: left;
      padding : 0%;
		color: white;
		background-color: 009900;
		width: 30%;
		border: solid black;
		background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      border-radius: 25px;
		}
		.rightdiv
		{
      margin: auto;
		float: left;
      padding : 0%;
		color: white;
		background-color: 009900;
		width: 30%;
		border: solid black;
      background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
      border-radius: 25px;
		}
/* 		div{
		padding : 1%;
		color: white;
		background-color: 009900;
		width: 30%;
		border: solid black;
		} */ */

section{
    display: flex;
  flex-direction: row;
}

.box{
width: 20vw;
height: 20vw;
border: 1px solid black;
margin: auto;
padding: 0;


background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

#button-id * {
  font: bold 18px Aldrich;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
/*   color: #333333;
  */
  color: white;
  padding: 2px 6px 2px 6px;
/*   border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC; */
}

#button-id {
/*   background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  background-color:#3a4e9e;
  float: left;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  z-index:9999;
  border: 1px solid black;
  border-radius: 12px;
  transition-duration: 0.4s;
}
#button-id a {
/*   border: 1px solid black; */
}
#button-id a:hover {
/*   background-color: #4CAF50; /* Green */
  color: white;
    text-decoration: underline white;
/*   border: 1px solid black; */
  border-radius: 250px;
/*   text-decoration:underline #333333; */
  transition: 0.5s;
}

/* #WordsUnder {
  background-color: orange;
  float: left;
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
  padding: 5px;
} */

.quotation{
  font-size: 1.5vw;
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

.quotation:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}
.quotation::after {
  content: close-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: 10px;
  position: relative;
  top: 35px;
  color: #ccc;
  font-size: 3em;
}
footer{
  margin:0;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
}



/* HERE IS THE PICTURE WITH WORDS ON THE RIGHT */
/* html, body, section {
  height: 100%;
} */

/* body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
} */

/* div {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
} */

/* Pattern styles */
.container7 {
  display: flex;
}

.left-half {
  background-color: white;
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: white;
  flex: 1;
  padding: 1rem;
}
/* HERE IS THE PICTURE WITH WORDS ON THE RIGHT */


#everythingundernovak {
  
  float: left;
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
  padding: 5px;

/*   background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */

    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
 */
