html {
    background-color: #3b4d61;
    margin: 2em;
    font-size: 100%;
}

h1 {
    font-size: 50px;
    font-family: "Century Gothic", sans-serif;
    font-weight: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #ef9d10f; /* Change the color of the h1 */
}

h2 {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6b7b8c;
}

p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6b7b8c;
    line-height: 1.5;
}

a {
    color: #9357DB; /* Change the color of the hyperlinks */
    -o-transition: color .2s ease-out, background 1s ease-in;
    -ms-transition: color .2s ease-out, background 1s ease-in;
    -moz-transition: color .2s ease-out, background 1s ease-in;
    -webkit-transition: color .2s ease-out, background 1s ease-in;
    transition: color .2s ease-out, background 2s ease-in;
}

a:hover {
    color: #bb418a;
    background: #353238;
}

/* Additional styling for specific sections */
.center {
    text-align: center;
    justify-content: center;
    width: 50%;
}

::selection {
    color: #edeef0;
    background: rgb(176, 53, 141);
}
